<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <offline/>
  <pluginGroups/>
  <servers>
	  <server>
    <id>azure-auth</id>
    <configuration>
        <client>516bbaad-9df1-48e2-b3e2-573a4aa29ec7</client>
        <tenant>6f9e3b1e-1809-444a-81d3-82d40a928812</tenant>
        <key>Snisni1@</key>
        <environment>AZURE</environment>
    </configuration>
</server>
  </servers>
  
  <mirrors/>
  <proxies/>
  <profiles/>
  <activeProfiles/>
</settings>